# CI Patterns
core.Microsoft*
core.mongo*
core.python*
env.py
env*.py
*env*.py
__pycache__/
*.py[cod]
node_modules/
# .github/

# ENV Patterns
.env
.dev
.dev/
/.dev/
.stripe_env
cloudinary_python.txt

#S Static patterns
/static/js/tests/*.js
/staticfiles
staticfiles
staticfiles/css/
staticfiles/js/
staticfiles/

# Dot File & DS Patterns
**/._*
./._*
._*
.DS_*

# Fixtures patterns
fixtures
products/fixtures

# Backup patterns
*_backup.json
*_data.json

# DEV & Personal Patterns
*.log
basketAction.js
.rubric
rubric.*
documentation/database/prop-house_with-stripe.drawio.xml
*_context.md

# allow only README.md
/*.md
!/README.md
!/TESTING.md
!/DEPLOYMENT.md

# Compressed
*.zip

# w3c-nu-validator
urls.txt
report.txt

# Misc
*.dbml
