asgiref==3.11.1
babel==2.18.0
black==26.1.0
certifi==2026.1.4
charset-normalizer==3.4.4
click==8.3.1
cloudinary==1.44.1
colorama==0.4.6
crispy-bootstrap5==2026.3
cssbeautifier==1.15.4
dj-database-url==3.1.1
Django==6.0.4
django-allauth==65.16.1
django-cloudinary-storage==0.3.0
django-crispy-forms==2.6
django-extensions==4.1
django-filter==25.2
django-money==3.6.0
django-view-breadcrumbs==2.5.1
djlint==1.36.4
EditorConfig==0.17.1
flake8==7.3.0
gunicorn==25.3.0
idna==3.11
jsbeautifier==1.15.4
json5==0.13.0
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.0.4
platformdirs==4.9.2
psycopg2==2.9.11
py-moneyed==3.0
pycodestyle==2.14.0
pyflakes==3.4.0
pytokens==0.4.1
PyYAML==6.0.3
regex==2026.2.28
requests==2.32.5
six==1.17.0
sqlparse==0.5.5
stripe==15.0.1
tqdm==4.67.3
typing_extensions==4.15.0
urllib3==2.6.3
whitenoise==6.12.0
