/* Catalogue.css */

/* ----------------- Prop Grid ---------------- */
.prop-grid {
	border-top: 1px solid var(--border-hard);
	margin-top: 2rem;
	display: grid;
	/* Caps minimum track width to 100% of parent if falls below 350px */
	grid-template-columns: repeat(auto-fill, minmax(min(350px, 100%), 1fr));
	width: 100%;
	gap: 2rem;
	padding: 2rem;
}

/* ------------- The "Crate" Card ------------- */
.prop-crate {
	background: var(--bg-surface);
	border: 1px solid var(--border-hard);
	position: relative;
	transition: all 0.2s ease-in-out;
}

.prop-crate:hover {
	border-color: var(--clr-accent);
	box-shadow: 0 0 15px var(--clr-accent-glow);
	z-index: var(--z-base);
}

.crate-visual {
	height: 250px;
	background: #000;
	position: relative;
	overflow: hidden;
}

.crate-visual img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	filter: grayscale(20%);
	transition: filter 0.3s ease;
}

.prop-crate:hover img {
	filter: grayscale(0%);
}

.crate-data {
	padding: 1rem;
	background: rgba(var(--surface-values), 0.8);
}

/* ------------ Pricing & ID Badges ----------- */
.crate-meta {
	display: flex;
	justify-content: space-between;
	padding: 1rem 1.5rem 0.5rem;
	font-family: monospace;
	font-size: 0.75rem;
	color: var(--clr-accent);
	margin-bottom: 5px;
}

.crate-title {
	padding: 0 1.5rem 1.5rem;
}

.crate-title a {
	color: var(--txt-primary);
	text-decoration: none;
	font-size: 1.25rem;
	font-weight: 800;
	text-transform: uppercase;
	line-height: 1.1;
}

.crate-title a:hover {
	color: var(--clr-accent);
}

/* Utility: "Scanline" Overlay on Images */
.crate-visual::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background:
		linear-gradient(rgba(18, 18, 18, 0) 50%, rgba(18, 18, 18, 0.2) 50%),
		linear-gradient(
			90deg,
			rgba(255, 0, 0, 0.03),
			rgba(0, 255, 0, 0.01),
			rgba(0, 0, 255, 0.03)
		);
	background-size:
		100% 2px,
		3px 100%;
	pointer-events: none;
}

.product-name a {
	color: var(--txt-primary);
	text-decoration: none;
	font-size: 1.1rem;
	transition: 0.2s;
}

.product-name a:hover {
	color: #fff;
	text-shadow: 0 0 10px rgba(var(--accent-orange-values), 0.5);
}
