html,
body {
	height: 100%;
	margin: 0;
}

body {
	background-color: var(--bg-main);
	color: var(--txt-primary);
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

body.bg-main-dark {
	background-color: var(--bg-main);
}

main {
	flex: 1 0 auto;
	padding-left: 5%;
	padding-right: 5%;
}

h1,
h2,
h3,
.label-mono {
	text-transform: uppercase;
	font-family: 'Courier New', Courier, monospace;
	letter-spacing: -1px;
	font-weight: 900;
}

h1 {
	font-size: 3rem;
	border-bottom: 4px solid var(--clr-accent);
}

.count {
	font-size: 1rem;
	color: var(--clr-accent);
	vertical-align: middle;
	margin-left: 10px;
}

.border-bottom-industrial {
	border-bottom: 2px solid var(--border-hard);
	background-color: var(--bg-main);
}

.navbar.navbar-dark.border-bottom-industrial {
	background-color: var(--bg-main);
	border-bottom: 2px solid var(--border-hard);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
	color: var(--clr-accent);
}

.navbar-brand {
	font-weight: 900;
	text-transform: uppercase;
	color: var(--txt-primary);
}

.nav-link {
	font-family: monospace;
	font-size: 0.85rem;
	letter-spacing: 1px;
	color: var(--txt-muted);
	transition: color 0.2s;
}

.nav-link:hover,
.nav-link.active {
	color: var(--clr-accent);
}

.breadcrumb-wrapper.ph-breadcrumbs .breadcrumb-item a {
	color: var(--txt-muted);
	text-decoration: none;
}

.breadcrumb-wrapper.breadcrumb-wrapper.ph-breadcrumbs
	li.breadcrumb-item::before {
	color: var(--txt-muted);
}

.breadcrumb-item.active {
	color: var(--clr-accent);
}

footer {
	flex-shrink: 0;
}

.footer-industrial {
	border-top: 1px solid var(--border-hard);
	padding: 2rem 0;
	font-family: monospace;
	font-size: 0.7rem;
}

/* Core Industrial Button */

.btn-industrial {
	/* Layout */
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0.8rem 2rem;

	/* Typography */
	font-family: 'Courier New', Courier, monospace;
	font-weight: 900;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: none;

	/* Appearance */
	background-color: #fff; /* High-contrast white */
	color: #000;
	border: 2px solid #fff;
	cursor: pointer;
	transition: all 0.1s ease;

	/* Industrial 'Raised' Effect */
	box-shadow: 4px 4px 0px var(--clr-accent); /* Safety Orange offset */
}

.btn-industrial:hover {
	background-color: var(--clr-accent);
	border-color: var(--clr-accent);
	color: #000;
	box-shadow: 0px 0px 0px transparent;
	transform: translate(2px, 2px); /* 'Pressed' feel */
}

.btn-industrial:active {
	background-color: #fff;
	transform: translate(4px, 4px);
}
