{% extends "base.html" %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock extra_css %}
{% block content %}
  {{ context }}
  <div class="container membership-matrix-zone">
    <h1 class="mb-5">System_Upgrade // Production_Plans</h1>
    <div class="row g-4 justify-content-center">
      {% for tier in membership_tiers %}
        <div class="col-md-4">
          {% include "accounts/partials/_membership_card.html" with tier=tier current_tier=current_tier is_oob_swap=False %}
        </div>
      {% endfor %}
    </div>
  </div>
  {% include "commerce/includes/stripe_form.html" %}
{% endblock content %}
