{% load static %}
<div id="nav-basket-wrapper" class="nav-basket-wrapper">
      <a href="{% url 'basket:summary' %}"
         class="basket-link"
         aria-label="View shopping basket">
            <div class="basket-icon-wrapper" id="basketIconWrapper">
                  {% include "core/icons/icon_cart.svg" %}
                  <span id="nav-basket-count"
                        hx-swap-oob="true"
                        class="basket badge {% if not basket.total_items %}hidden{% endif %}">
                        {{ basket.total_items|default:0 }}
                  </span>
            </div>
            <span id="nav-basket-total" hx-swap-oob="true" class="nav-basket-total">{{ basket.total_price|default:"0.00" }}</span>
      </a>
</div>
