{% load static %}
<div id="nav-basket-wrapper"
     class="nav-basket-wrapper"
     hx-get="{% url 'basket:nav_basket' %}"
     hx-trigger="basketUpdated from:body"
     hx-swap="outerHTML"
     {% if oob %}hx-swap-oob="outerHTML"{% endif %}>
  <a href="{% url 'basket:summary' %}"
     class="basket-link"
     aria-label="View shopping basket">
    <div class="basket-icon-wrapper" id="basketIconWrapper">
      {% include "core/icons/icon_cart.svg" %}
      <span id="nav-basket-count"
            class="basket badge {% if not basket.total_items %}hidden{% endif %}">
        {{ basket.total_items|default:0 }}
      </span>
    </div>
    <span id="nav-basket-total" data-basket="total" class="nav-basket-total">{{ basket.total_price|default:"0.00" }}</span>
  </a>
</div>
