<nav class="navbar navbar-expand-lg navbar-dark border-bottom-industrial">
  <div class="container-fluid px-4">
    <a href="{% url 'catalogue:product_list' %}"
       class="navbar-brand glitch-text-sm d-sm-none">
      <span>P</span>
      <span class="text-accent">H</span>
    </a>
    <a class="navbar-brand glitch-text-sm d-none d-sm-block"
       href="{% url 'catalogue:product_list' %}">
      PROP<span class="text-accent">HOUSE</span>_
    </a>
    <div class="mobile-nav-section justify-content-md-between d-lg-none gap-md-1">
      {% if filter %}
        <button class="btn btn-dark border border-hard text-xs py-2 px-2 font-mono d-flex align-items-center justify-content-center"
                type="button"
                data-bs-toggle="offcanvas"
                data-bs-target="#mobileFilterDrawer"
                aria-controls="mobileFilterDrawer"
                style="height: 38px"
                title="Access View Filters">Filters</button>
      {% endif %}
      <div class="mnobile-basket-nav-housing">{% include "basket/partials/_nav_basket_logic.html" %}</div>
      <button class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#mainNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 mono-font">
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.app_name == 'catalogue' %}active{% endif %}"
             href="{% url 'catalogue:product_list' %}">CATALOGUE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.url_name == 'membership_options' %}active{% endif %}"
             href="{% url 'accounts:membership_options' %}">MEMBERSHIP</a>
        </li>
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}"
               href="{% url 'accounts:dashboard' %}">MY_BOOKINGS</a>
          </li>
          <li class="nav-item">
            <form action="{% url 'account_logout' %}" method="post" class="d-inline">
              {% csrf_token %}
              <button type="submit" class="nav-link bg-transparent border-0">LOGOUT</button>
            </form>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_signup' %}">REGISTER</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'account_login' %}">LOGIN</a>
          </li>
        {% endif %}
        <li class="nav-item d-lg-none">
          <a href="{% url 'basket:summary' %}" class="nav-link">BASKET</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
