<div class="nav-basket-wrapper">
  <a href="{% url 'basket:summary' %}"
     class="basket-link"
     aria-label="View shopping basket">
    <div class="basket-icon-wrapper">
      <svg xmlns="http://www.w3.org/2000/svg"
           width="24"
           height="24"
           viewBox="0 0 24 24"
           fill="none"
           stroke="currentColor"
           stroke-width="2"
           stroke-linecap="round"
           stroke-linejoin="round"
           class="lucide lucide-shopping-cart-icon lucide-shopping-cart">
        <circle cx="8" cy="21" r="1" /><circle cx="19" cy="21" r="1" />
        <path d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12" />
      </svg>
      <span id="nav-basket-count"
            class="basket badge {% if not global_basket.total_items %}hidden{% endif %}">
        {{ global_basket.total_items|default:0 }}
      </span>
    </div>
    <span id="nav-basket-total" class="nav-basket-total">£{{ global_basket.total_price|default:"0.00" }}</span>
    {% comment %}  {% endcomment %}
    {% comment %} <i class="icon-basket"></i>
    <span id="nav-basket-count" class="badge {% if not global_basket.total_items %}hidden{% endif %}">
      {{ global_basket.total_items|default:0 }}
    </span> {% endcomment %}
    {% comment %}  {% endcomment %}
  </a>
</div>
